@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/IY-Regular.woff2') format('woff2');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/IY-Medium.woff2') format('woff2');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/IY-Bold.woff2') format('woff2');
}
