<section class="about">
    <div class="container">
        <div class="grid--1x3">
            <h2 class="block__heading block__heading-primary">درباره من</h2>
            <p class="about__context">من متخصص فرانت اند هستم و علاقمند به بک اند و دوست دارم این کارو هرچه سریع تر
                به پایان برسانم. با تشکر از شما و دوستان گرامی خودم که من را همراهی کردید.
            </p>
            <div>
                <h3 class="about__heading">مهارت های من</h3>
                <div class="skill--block">
                    <div class="skill__item">
                        <p class="skill__label">HTML</p>
                        <div class="skill__progress">
                            <div class="skill__progress-bar skill__html"><span class="skill__indicator"></span>
                            </div>
                        </div>
                        <p class="skill__percentage">100%</p>
                    </div>
                    <div class="skill__item">
                        <p class="skill__label">CSS</p>
                        <div class="skill__progress">
                            <div class="skill__progress-bar skill__css"><span class="skill__indicator"></span></div>
                        </div>
                        <p class="skill__percentage">75%</p>
                    </div>
                    <div class="skill__item">
                        <p class="skill__label">Javascript</p>
                        <div class="skill__progress">
                            <div class="skill__progress-bar skill__js"><span class="skill__indicator"></span></div>
                        </div>
                        <p class="skill__percentage">10%</p>
                    </div>
                    <div class="skill__item">
                        <p class="skill__label">CorelDraw</p>
                        <div class="skill__progress">
                            <div class="skill__progress-bar skill__corel"><span class="skill__indicator"></span>
                            </div>
                        </div>
                        <p class="skill__percentage">45%</p>
                    </div>
                    <div class="skill__item">
                        <p class="skill__label">Photoshop</p>
                        <div class="skill__progress">
                            <div class="skill__progress-bar skill__photoshop"><span class="skill__indicator"></span>
                            </div>
                        </div>
                        <p class="skill__percentage">25%</p>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="about__heading">زمینه کاری من</h3>
                <ul>
                    <li>
                        <span class="icon--container-large">
                            <svg class="icon icon--primary icon--large">
                                <use href="images/sprite.svg#monitor"></use>
                            </svg>
                            <p class="icon__label">توسعه وب</p>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>