<div class="hero">
    <section class="container">
        <p class="hero__title">وبسایت شخصی</p>
        <h1 class="hero__heading">سید کمیل سیدی</h1>
        <ul class="media">
            <li class="media__item">
                <a href="https://www.linkedin.com/in/komic0/" target="_blank">
                    <span class="icon--container-small">
                        <svg class="icon icon--small">
                            <use href="images/sprite.svg#linkedin"></use>
                        </svg>
                    </span>
                </a>
            </li>
            <li class="media__item">
                <a href="https://twitter.com/KoMiC0_" target="_blank">
                    <span class="icon--container-small">
                        <svg class="icon icon--small">
                            <use href="images/sprite.svg#twitter"></use>
                        </svg>
                    </span>
                </a>
            </li>
            <li class="media__item">
                <a href="https://www.instagram.com/komiic0" target="_blank">
                    <span class="icon--container-small">
                        <svg class="icon icon--small">
                            <use href="images/sprite.svg#instagram"></use>
                        </svg>
                    </span>
                </a>
            </li>
            <li class="media__item">
                <a href="https://wa.me/989014434346" target="_blank">
                    <span class="icon--container-small">
                        <svg class="icon icon--small">
                            <use href="images/sprite.svg#whatsapp"></use>
                        </svg>
                    </span>
                </a>
            </li>
            <li class="media__item">
                <a href="https://t.me/komic0" target="_blank">
                    <span class="icon--container-small">
                        <svg class="icon icon--small">
                            <use href="images/sprite.svg#telegram"></use>
                        </svg>
                    </span>
                </a>
            </li>
        </ul>
    </section>
</div>