<section class="resume">
    <div class="container">
        
        <div class="grid--1x3">
            <h2 class="block__heading block__heading-center">رزومه</h2>
            <section>
                <h3 class="resume__title">سوابق تحصیلی</h3>
                <div class="resume__block">
                    <section class="resume__content">
                        <h4 class="resume__content-heading">دیپلم</h4>
                        <p class="resume__content-uni">دبیرستان دولتی خوارزمی / <span>بهمن 1393 - خرداد 1399</span>
                        </p>
                        <p>دیپلم ریاضی و فیزیک
                        </p>
                    </section>
                    <section class="resume__content">
                        <h4 class="resume__content-heading">کارشناسی</h4>
                        <p class="resume__content-uni">دانشگاه آزاد تهران شرق / <span>بهمن 1393 - خرداد 1399</span>
                        </p>
                        <p>کارشناسی رشته کامپیوتر گرایش نرم افزار 
                        </p>
                    </section>
                </div>
            </section>
            <section>
                <h3 class="resume__title">سوابق کاری</h3>
                <div class="resume__block">
                    <section class="resume__content">
                        <h4 class="resume__content-heading">طراح گرافیک</h4>
                        <p class="resume__content-uni">صنایع دستی و زیورآلات رها / <span>بهمن 1395 - اردیبهشت
                                1400</span></p>
                        <p>طراحی محصولات این شرکت به صورت وکتور توسط برنامه کورل
                        </p>
                    </section>
                </div>
            </section>
        </div>
    </div>
</section>